
# remove node modules
algo-tickets-api/node_modules/
algo-tickets-react/node_modules/

# remove package-lock.json

algo-tickets-api/package-lock.json
algo-tickets-react/package-lock.json

# remove py folder
algo-tickets-api/py

# remove env file
algo-tickets-api/.env

# remove wallets
algo-tickets-api/wallets

# remove vs code settings
.vscode/

# remove logs
algo-tickets-api/src/logs
